<!DOCTYPE html>
<html ng-app="TestApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
        
        <script src="/static/select.min.js"></script>
        <title>Meta Data</title>


        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

        <link rel="stylesheet" type="text/css" href="/static/select.min.css">

    </head>
    <body ng-controller="MainController">
        <h1 ng-if="numCalculating == 0"># of Samples: {{numSamples}}</h1>
        <h1 ng-if="numCalculating != 0"># of Samples: CALCULATING</h1>        

            <div ng-if="meta != null && meta !== false" ng-repeat="(key, values) in meta">
                <h6>{{key}} : {{values.length}}</h6>

                <ui-select multiple ng-model="selectedValues[key]" theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="false" style="width: 800px;" title="Choose a person">
                    <ui-select-match placeholder="Select {{key}}">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="value in values">
                    <div ng-bind-html="value | highlight: $select.search"></div>

                    </ui-select-choices>
                </ui-select>

            </div>
        <!--<button type="button" ng-click="logScope()">Log Scope</button>-->

        <form action="/query" method="post" `>
            <input type="hidden" name="query" ng-value="query">
            <button type="submit" ng-disabled="numSamples == 0">Submit</button>
        </form>
    </body>


    <script>
    var app = angular.module("TestApp",['ngSanitize', 'ui.select'])

    app.controller("MainController",['$scope','$http',function($scope,$http){
        $scope.query = "";
        $scope.meta = null;
        $scope.selectedValues = {};
        $scope.numSamples = 0;
        $scope.numCalculating = 0;


        $scope.$watch("selectedValues", function(newValue,oldValue) {
            $scope.query = JSON.stringify(newValue);
            $scope.getNumSamples();
        }, true);

        $scope.fetchMeta = function() {
            $http({
                method: 'GET',
                url: '/meta'
            }).then(function successCallback(response) {
                console.log(response.data);
                delete response.data['samples']
                $scope.meta = response.data;
                // this callback will be called asynchronously
                // when the response is available
            }, function errorCallback(response) {
                $scope.meta = false;
                // called asynchronously if an error occurs
                // or server returns response with an error status.
            });
        }

        $scope.getNumSamples = function() {
            $scope.numCalculating++;
            $http({
                method: 'GET',
                url: '/numSamples?query='+$scope.query
            }).then(function successCallback(response) {
                $scope.numCalculating--;
                $scope.numSamples = parseInt(response.data)
                // this callback will be called asynchronously
                // when the response is available
            }, function errorCallback(response) {
                $scope.numCalculating--;
                // called asynchronously if an error occurs
                // or server returns response with an error status.
            });            
        }

        $scope.fetchMeta();

        $scope.logScope = function() {
            console.log(JSON.stringify($scope.selectedValues));
        }

    }])
    </script>
</html>