<h1 class="text-center">Home</h1>
<h4>Description</h4>
<p>Here is the description of this page. It contains any information a person needs to know about the dataset.</p>

<div class="info-box col-sm-4  text-center">
    <i class="fa fa-flask fa-2x" aria-hidden="true"></i>
    <span>{{totalNumSamples}} Samples</span>
</div>

<div class="info-box col-sm-4 ">
    <i class="fa fa-table fa-2x" aria-hidden="true"></i>
    <span>{{totalNumGenes}} Genes</span>
</div>

<div class="info-box col-sm-4 ">
    <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
    <span>{{metaTypes.length}} Meta Types</span>    
</div>


